@charset "UTF-8";

#wrap {width:1500px; margin:auto;}

header {height:100px; background-color:#707B7C;}

.contents {height:500px; background-color:#fff;}

footer {height:100px; background-color:#707B7C;} 